<a href="https://colab.research.google.com/github/ANJALIREDDY28/23CSBTB27-28/blob/main/types_of_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data structures using numpy pandas

In [3]:
import numpy as np
list={1,5,2,6,7}
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list1))
print(type(list))

{1, 2, 5, 6, 7}
[3, 6, 1, 8]
<class 'list'>
<class 'set'>

In [4]:
list=["Geeks","For","Geeks"]
list2="My first lab"
list3=4.3
list4=2j+6
list5='My first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nlist items: ")
print(list)
print(type(list))
print(list[0])
print(list[2])

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

list items:
['Geeks', 'For', 'Geeks']
<class 'list'>
Geeks
Geeks

In [6]:
list = {1:"greek1", 2:'Geeks', 'For': 3, 'Geeks': 6}
print("\nlist with the use of Mixed Values: ")
print(list)
print(type(list))

list with the use of Mixed Values:
{1: 'greek1', 2: 'Geeks', 'For': 3, 'Geeks': 6}
<class 'dict'>